body{
    background-image: url(png/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1,h2{
    color: rgb(255, 0, 0);
    text-align: center;
}
strong{
    color: black;
}
main{
    width: 1200px;
    margin: auto;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.123);
}
table{
    width: 50%;
}
td{
    padding: 10px;
    text-align: center;
}
th{
    padding: 10px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.nelogo{
    max-height: 20px;
}
.gold{
    background-color: gold;
}
.silver{
    background-color: silver;
}
.bronz{
    background-color: #cd7f32
}
.logo{
    max-height: 40px;
}
.logo2{
    width: 180px;
}
.podpis{
    color: white;
}